.dropoptions{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    background-color:violet;
    padding:40px;
    border-radius:2em;
    height:400px;
}
h1{
    margin-top:2%;
    color:white;
}

.options{
    display: none;
    flex-direction: column;
}
.options button{
    background-color: black;
    color:white;
    margin-left: 25px;
    width:200px;
}
.options button:hover{
    background-color: orange;
}
button{
    width:250px;
    padding:10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
button:hover{
    background-color: grey;
    color:white;
}
.res{
    width:400px;
    height:200px;
    border:1px dashed black;
    border-radius:2em;
    background-color: white;
    margin:0;
    display: none;
}
.outer{
    display: flex;
    margin-top:100px;
}
.res-container{
    width:400px;
    height:210px;
    background-color: white;
    padding:40px;
    margin-left:200px;
    border-radius:2em;
}
body{
    background-color: black;
    font-family:cursive;
}
#repage{
    width:100px;
    border-radius:1em;
}
#repage:hover{
    background-color: gold;
    color:black;
}